body {
	text-align: center;
	margin: 0;
}
.product-index img {
	width: 200px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #595959;
  overflow: hidden;
}
li {
  display: inline-block;
  /*float: left*/
  margin-right: -4px;
}
li a {
 	display: block;
  padding: 14px 16px;
  color: black;
  /*background-color: #dddddd;*/
  text-decoration: none;
}
li a:hover {
  background-color: white;
}
li a:visited {
  color: #C9103B;
}
#container {
	max-width: 85%;
	margin: 0 auto;
}
.owl-carousel img {
	width: 200px;
}
.cart-product {
	padding-top: 20px;
}
.cart-product img {
	width: 200px;
}
#banner {
	width: 100%;
	max-height: 80%;
}
#banner img {
	max-width: 100%;
	display: block;
}
#top-nav {
	padding: 2%;
	background-color: brown;
	overflow:hidden;
}
#footer li {
	float: left;
}
#footer a {
	/*background-color: blue;*/
}
.top-nav-info {
	display: inline-block;
	float: right;
	margin: 2% 0;
}
.nike-logo {
	display: inline-block;
	position: relative;
	right: 27%;
	width: 100px;
}
.nike-logo img{
	max-width: 100%;
	/*display: inline-block;*/
}